@import "normalize";

@import
	"settings";

/*COMPONENTS*/
@import
	"f6a/global",
	"f6a/lists",
	"f6a/motion",
	"f6a/typography",
	"f6a/forms",
	"f6a/grid",
	"f6a/buttons"; 

.panel {
	background: #eee;
	padding: 20px; 
}

.band {
	background: #EEE;
}

nav {
	background: $slate;
	color: $secondary-color;
	h1 {
		font-size: 1rem;
	}
}

.img-bucket {
	background: $secondary-color;
}


.slide-panel {
  position: absolute;
  display: flex;
  bottom:0;
  width: 100%;
  height: 200px;
  z-index: 100;
}

// Comment or uncomment out this line for debugging.
// @include debug;
