@import "normalize";

@import
	"settings";

/*COMPONENTS*/
@import
	"f6a/global",
	"f6a/typography",
	"f6a/forms",
	"f6a/grid",
	"f6a/buttons";

.panel {
	background: #eee;
	padding: 20px;
}

.band {
	background: #EEE;
}

nav {
	background: $slate;
	color: $secondary-color;
	h1 {
		font-size: 1rem;
	}
}

.img-bucket {
	background: $secondary-color;
}

#slidey-panel.small-6:target {
	transition: flex-basis 300ms ease;
	flex-basis: 0%;
}
