---
name: block-list
url: /block-list
---

<h2>Block List</h2>
<h3 class="subheader">A useful list component that can accomodate a variety of styles and controls.</h3>

<hr>

<section class="block-list with-icons">
  <header>List title</header>
  <ul>
    <!-- With a label -->
    <li class="with-chevron">
      <a href="#">
        List item 1
        <span class="label">Right Label</span>
      </a>
    </li>
    <!-- With an icon -->
    <li>
      <img src="http://placehold.it/1x1" alt="">
      <a href="#">
        List item 2
        <span class="left label">Left Label</span>
      </a>
    </li>
    <li class="with-chevron"><a href="#">List item 3</a></li>
    <li><a href="#">List item 4</a></li>
  </ul>
</section>

<section class="block-list">
  <header>Does life matter?</header>
  <ul>
    <li>
      <input type="checkbox" id="life">
      <label for="life">Yeah!</label>
    </li>
  </ul>
</section>

<section class="block-list">
  <header>What is delicious?</header>
  <ul>
    <li>
      <input type="radio" name="delicious" id="eggs" value="eggs" checked>
      <label for="eggs">Eggs</label>
    </li>
    <li>
      <input type="radio" name="delicious" id="bacon" value="bacon">
      <label for="bacon">Bacon</label>
    </li>
    <li>
      <input type="radio" name="delicious" id="toast" value="toast">
      <label for="toast">Toast</label>
    </li>
  </ul>
</section>

<section class="block-list">
  <header>Switch a Switch</header>
  <ul>
    <li>
      <span>Switch!</span>
      <div class="switch">
        <input type="checkbox" id="switchOne">
        <label for="switchOne"></label>
      </div>
    </li>
  </ul>
</section>

<section class="block-list">
  <header>Log In</header>
  <ul>
    <li><input type="text" placeholder="User name"></li>
    <li><input type="password" placeholder="Password"></li>
  </ul>
</section>

<section class="block-list">
  <header>Duration</header>
  <ul>
    <li class="with-dropdown"><select name="" id="">
      <option>Now</option>
      <option>Later</option>
      <option>Eventually</option>
      <option>Forever</option>
    </select></li>
  </ul>
</section>
