---
name: card
url: /card
---

<h2>Card</h2>
<h3 class="subheader">A card is a rectangular container that holds your content, makes it easy to digest, and sparates it from other similar content.</h3>

<hr>

<div class="nested block small-up-3">
  <div class="content block">
    <div class="card">
      <img src="http://placekitten.com/g/400/200" />
      <div class="card-division">
        This is content
      </div>
      <div class="card-item">
        <h4>The Basics: Group and Block</h4>
        <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
      </div>
    </div>
  </div>
  <div class="content block">
    <div class="primary card">
      <img src="http://placekitten.com/g/400/200" />
      <div class="card-division">
        This is content
      </div>
      <div class="card-item">
        <h4>The Basics: Group and Block</h4>
        <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
      </div>
    </div>
  </div>
  <div class="content block">
    <div class="dark card">
      <img src="http://placekitten.com/g/400/200" />
      <div class="card-division">
        This is content
      </div>
      <div class="card-item">
        <h4>The Basics: Group and Block</h4>
        <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
      </div>
    </div>
  </div>
  <div class="content block">
    <div class="success card">
      <img src="http://placekitten.com/g/400/200" />
      <div class="card-division">
        This is content
      </div>
      <div class="card-item">
        <h4>The Basics: Group and Block</h4>
        <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
      </div>
    </div>
  </div>
  <div class="content block">
    <div class="warning card">
      <img src="http://placekitten.com/g/400/200" />
      <div class="card-division">
        This is content
      </div>
      <div class="card-item">
        <h4>The Basics: Group and Block</h4>
        <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
      </div>
    </div>
  </div>
  <div class="content block">
    <div class="alert card">
      <img src="http://placekitten.com/g/400/200" />
      <div class="card-division">
        This is content
      </div>
      <div class="card-item">
        <h4>The Basics: Group and Block</h4>
        <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
      </div>
    </div>
  </div>
</div>