---
name: docs
url: /docs
---
<div class="vertical stretch frame">
  <div class="shrink block">
    <div class="content block" style="background: #002b36 !important; color: white;">
      <span style="color:#fff;">Foundation Docs</span>
    </div>
  </div>
  <div class="stretch block">
    <div id="menu" class="panel panel-left medium-3 large-2 content medium-block" style="border-right: 1px solid #e2e6e6;">
      <section class="block-list">
        <header>Layout</header>
        <ul>
          <li><a href="#">Grid</a></li>
          <li><a href="#">Panel</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Navigation</header>
        <ul>
          <li><a href="#">Off-canvas Menu</a></li>
          <li><a href="#">Action Sheet</a></li>
          <li><a href="#">Title Bar</a></li>
          <li><a href="#">Menu Bar</a></li>
          <li><a href="#">Tabs</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Callouts</header>
        <ul>
          <li><a href="#">Modal</a></li>
          <li><a href="#">Notification</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Controls</header>
        <ul>
          <li><a href="#">Button</a></li>
          <li><a href="#">Button Group</a></li>
          <li><a href="#">Forms</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Content</header>
        <ul>
          <li><a href="#">Typography</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Block List</a></li>
          <li><a href="#">Motion UI</a></li>
          <li><a href="#">Interchange</a></li>
          <li><a href="#">Inline Elements</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Helpers</header>
        <ul>
          <li><a href="#">Visibility</a></li>
          <li><a href="#">Coloring</a></li>
          <li><a href="#">Functions and Mixins</a></li>
        </ul>
      </section>
    </div>

    <div class="medium-9 large-10 block content horizontal container">
      <h2>Sample Component</h2>
      <p>Sample Component intro text curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. Vestibulum ante ipsum primis in faucibus.</p>

      <hr />

      [demo of item]

      <hr />

      <h3>Basic HTML</h3>
      <p>You can create [Item] with this basic HTML</p>
      <ul class="segmented button-group small">
        <li class="is-active"><a href="#">CSS Classes</a></li>
        <li><a href="#">Sass Mixins</a></li>
      </ul>
      <div class="block">
        <div class="medium-6 block content">
          <pre>
            <code class="language-html">
              [html]
            </code>
          </pre>
        </div>
        <div class="medium-6 block content">
          [Demo of item]
        </div>
      </div>

      <h3>Advanced HTML</h3>
      <p>You can create advanced versions of [Item] with this HTML</p>
      <ul class="segmented button-group">
        <li class="is-active"><a href="#">CSS Classes</a></li>
        <li><a href="#">Sass Mixins</a></li>
      </ul>
      <div class="block">
        <div class="medium-6 block content">
          <pre>
            <code class="language-html">
              [html]
            </code>
          </pre>
        </div>
        <div class="medium-6 block content">
          [Demo of item]
        </div>
      </div>

      <h3>Sass Variables</h3>
      <p>You can customize with...</p>
      <pre>
        <code class="language-html">
          [Sass]
        </code>
      </pre>
    </div>
  </div>
</div>
