---
name: home
url: /home
---
<div class="docs-header"><div class="container group">
  <div class="block">
    <h1>Foundation for Apps Alpha</h1>
  </div>
</div></div>

<div class="container block">
  <!-- Sidebar -->
  <div class="panel panel-left content medium-block medium-4 large-3">
    <section class="docs-sidebar">
      <h4>Components</h4>
      <section class="block-list">
        <header>Layout</header>
        <ul>
          <li><a href="#">Grid</a></li>
          <li><a href="#">Panel</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Navigation</header>
        <ul>
          <li><a href="#">Off-canvas Menu</a></li>
          <li><a href="#">Action Sheet</a></li>
          <li><a href="#">Title Bar</a></li>
          <li><a href="#">Menu Bar</a></li>
          <li><a href="#">Tabs</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Callouts</header>
        <ul>
          <li><a href="#">Modal</a></li>
          <li><a href="#">Notification</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Controls</header>
        <ul>
          <li><a href="#">Button</a></li>
          <li><a href="#">Button Group</a></li>
          <li><a href="#">Forms</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Content</header>
        <ul>
          <li><a href="#">Typography</a></li>
          <li><a href="#">Card</a></li>
          <li><a href="#">Block List</a></li>
          <li><a href="#">Motion UI</a></li>
          <li><a href="#">Interchange</a></li>
          <li><a href="#">Inline Elements</a></li>
        </ul>
      </section>
      <section class="block-list">
        <header>Helpers</header>
        <ul>
          <li><a href="#">Visibility</a></li>
          <li><a href="#">Coloring</a></li>
          <li><a href="#">Functions and Mixins</a></li>
        </ul>
      </section>
    </section>
  </div>
  <!-- /Sidebar -->

  <!-- Main content -->
  <div class="docs-component-overview small-12 medium-8 large-9 content block">
    <section style="background: #eee; border-radius: 1em; padding: 1em 1.5em; margin-bottom: 2em;">
      <h3>The Interrobang</h3>
      <p>We've got one super page with many of our fancy new components on display, including the grid, block grid, off-canvas, panels, menu bars, block lists, and dropdowns.</p>
      <a ui-sref="interrobang" class="button">Visit the Interrobang</a>
      <p>Or visit the playground where everything is angular based:</p>
      <a ui-sref="playground" class="button">Visit the Playground</a>

    </section>
    <section>
      <h4>The Grid</h4>
      <p>Our new grid is built on Flexbox and includes many improvements over the Foundation 5 layout, including vertical grids, independently-scrollable panes, easier source ordering, and more.</p>
      <a href="grid.html" class="button">Read the grid docs</a>

      <div class="docs-example-grid">
        <div class="block">
          <div class="small-12 content block">Block</div>
          <div class="content block"><p>Block</p></div>
          <div class="content block"><p>Block</p></div>
          <div class="content block"><p>Block</p></div>
        </div>
      </div>
    </section>

    <section>
      <h4>Panels</h4>
      <p>Panels are frames that slide in from the top, left, bottom, or right of the screen and appear over the interface. Grid blocks can also transform into panels, allowing you to hide content off-canvas on smaller screens.</p>

      <div class="docs-example-panels block" style="overflow: hidden;">
        <div class="panel panel-left" id="docs-panel-left" data-panel>Left panel</div>
        <div class="panel panel-right" id="docs-panel-right" data-panel>Right panel</div>
        <div class="panel panel-top" id="docs-panel-top" data-panel>Top panel</div>
        <div class="panel panel-bottom" id="docs-panel-bottom" data-panel>Bottom panel</div>
        <div class="content block">
          <a href="#" class="button" data-panel-toggle="docs-panel-left">Left panel</a>
          <a href="#" class="button" data-panel-toggle="docs-panel-right">Right panel</a>
          <a href="#" class="button" data-panel-toggle="docs-panel-bottom">Bottom panel</a>
          <a href="#" class="button" data-panel-toggle="docs-panel-top">Top panel</a>
        </div>
      </div>
    </section>

    <section>
      <h4>Block Grid</h4>
      <p>The block grid functions much like it did in Foundation 5.</p>

      <ul class="block up-2 medium-up-4 thumbnails">
        <li><img src="http://placekitten.com/300/302" alt=""></li>
        <li><img src="http://placekitten.com/300/301" alt=""></li>
        <li><img src="http://placekitten.com/300/302" alt=""></li>
        <li><img src="http://placekitten.com/300/301" alt=""></li>
        <li><img src="http://placekitten.com/300/302" alt=""></li>
        <li><img src="http://placekitten.com/300/301" alt=""></li>
      </ul>
    </section>

    <!-- Navigation -->

    <section>
      <h4>Off-canvas</h4>
      <p>Off-canvas containers sit at the root level of your app to the left, right, top, or bottom. They are similar to panels, except the entire frame of your app shifts to display the off-canvas menu.</p>

      <div class="docs-example-ofc">
        <div class="ofc" id="docs-ofc" data-offcanvas>
          <div class="block-list">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Work</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="ofc ofc-right" id="docs-ofc-right" data-offcanvas>
          <div class="block-list">
            <ul>
              <li><a href="#">Friends</a></li>
              <li><a href="#">Acquaintances</a></li>
              <li><a href="#">Family</a></li>
              <li><a href="#">People You Can't Unfriend</a></li>
            </ul>
          </div>
        </div>
        <div class="ofc ofc-top" id="docs-ofc-top" data-offcanvas>
          <p>Top off-canvas</p>
        </div>
        <div class="ofc ofc-bottom" id="docs-ofc-bottom" data-offcanvas>
          <p>Bottom off-canvas</p>
        </div>
        <div class="frame">
          <div class="block">
            <a href="#" class="button" data-offcanvas-toggle="docs-ofc">Left off-canvas</a>
            <a href="#" class="button" data-offcanvas-toggle="docs-ofc-right">Right off-canvas</a>
            <a href="#" class="button" data-offcanvas-toggle="docs-ofc-bottom">Bottom off-canvas</a>
            <a href="#" class="button" data-offcanvas-toggle="docs-ofc-top">Top off-canvas</a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h4>Action Sheet</h4>
      <p>On medium-sized screens and up, these are your standard dropdown menu. On smaller screens they transform into action sheets that pull up from the bottom of the screen.</p>

      <div class="action-sheet-container">
        <a href="#" class="button" data-popup-toggle>Do Something</a>
        <div class="action-sheet" data-popup>
          <p>What is delicious?</p>
          <ul>
            <li><a href="#">Candy</a></li>
            <li><a href="#">Breakfast</a></li>
            <li class="alert"><a href="#">Pizza</a></li>
            <li class="disabled"><a href="#">Nothing</a></li>
          </ul>
        </div>
      </div>
    </section>

    <section>
      <h4>Title Bar</h4>
      <p>The title bar is a navigational component which can contain a title area or a number of links. It's flexible enough to allow for center-, left-, and right-aligned sections, or any combination of the three.</p>

      <div class="vertical block" style="max-width: 400px; height: 250px; border: 1px solid #ccc;">
        <div class="title-bar">
          <span class="center title">Article</span>
          <span class="left"><a href="#">Back</a></span>
          <span class="right"><a href="#">Share</a></span>
        </div>
        <div class="content block">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quisquam odio sint numquam aliquam pariatur fugit debitis illo exercitationem. Nemo nulla dolores quia assumenda, aspernatur molestiae deleniti enim ut quas!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga odit repellat corporis, quos qui provident. Voluptatum quasi, beatae error provident soluta iusto a minus rerum omnis quidem facilis officia expedita?</p>
        </div>
      </div>
    </section>

    <section>
      <h4>Menu Bar</h4>
      <p>The menu bar is an all-purpose nav menu that can include text or icon nav items and be oriented horizontally or vertically depending on screen size.</p>

      <ul class="icon-bar">
        <li><a href="#"><img src="http://placehold.it/20x20"><span>Reply</span></a></li>
        <li><a href="#"><img src="http://placehold.it/20x20"><span>Save</span></a></li>
        <li><a href="#"><img src="http://placehold.it/20x20"><span>Delete</span></a></li>
        <li><a href="#"><img src="http://placehold.it/20x20"><span>Archive</span></a></li>
        <li><a href="#"><img src="http://placehold.it/20x20"><span>Mark as Spam</span></a></li>
      </ul>
    </section>

    <section>
      <h4>Tabs</h4>
      <p>Tabs are a great option for showing content when needed and hiding it when not. We have basic tab styles, but the tab functionality can be added to other components like icon bar and button groups.</p>

      <div class="tabs">
        <div class="tab-item is-active" id="item-1">Item 1</div>
        <div class="tab-item" id="item-2">Item 2</div>
        <div class="tab-item" id="item-3">Item 3</div>
        <div class="tab-item" id="item-4">Item 2</div>
        <div class="tab-item" id="item-5">Item 3</div>
      </div>
      <div class="tab-content">
        <div id="item-1" class="tab-pane is-active">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iusto veniam aut voluptatem itaque libero commodi, quod asperiores eaque cumque sequi sunt facilis accusantium quae atque provident, nobis. Pariatur, laudantium.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iusto veniam aut voluptatem itaque libero commodi, quod asperiores eaque cumque sequi sunt facilis accusantium quae atque provident, nobis. Pariatur, laudantium.
          </p>
        </div>
        <div id="item-2" class="tab-pane"></div>
        <div id="item-3" class="tab-pane"></div>
        <div id="item-4" class="tab-pane"></div>
        <div id="item-5" class="tab-pane"></div>
      </div>

    </section>

    <!-- Callouts -->

    <section>
      <h4>Modals</h4>
      <p>Modals will resemble the Reveal modals used in Foundation 5, but with more options for animation and positioning.</p>
      <a href="#" fa-modal-open="pageModal" class="button">Open Modal</a>
    </section>

    <section>
      <h4>Notifications</h4>
      <p>Notifications can be displayed in any corner of the screen, and can also tap into the Notifications API, if the user's browser supports it, allowing the use of desktop notifications.</p>
      <a href="#" class="button" id="newMessage">Fire Notification</a>
    </section>

    <!-- Controls -->

    <section>
      <h4>Buttons</h4>
      <p>Buttons are as button-ey as they've always been. They come in small, medium, large, and expanded varieties, and a rainbow of colors.</p>

      <a href="#" class="button">Button</a>
      <a href="#" class="secondary button">Secondary Button</a>
      <a href="#" class="success button">Success Button</a>
      <a href="#" class="warning button">Warning Button</a>
      <a href="#" class="alert button">Alert Button</a>

      <button class="button">Button Tag Button</button>
      <input type="submit" class="button" value="Submit Button Button">

      <a href="#" class="small button">Small Button</a>
      <a href="#" class="large button">Large Button</a>

      <a href="#" class="button" data-popup-toggle>Dropdown Button</a>

      <a href="#" class="expand button">Expaaaaaaaaand Button</a>
    </section>

    <section>
      <h4>Button Groups</h4>
      <p>Button groups can function as a strip of buttons, a tabstrip, or a segmented control.</p>

      <ul class="button-group">
        <li><a href="#">Reply</a></li>
        <li><a href="#">Reply All</a></li>
        <li><a href="#">Forward</a></li>
      </ul>
      <br>
      <ul class="button-group">
        <li><a href="#">Reply</a></li>
        <li class="warning"><a href="#">Reply All</a></li>
        <li class="alert"><a href="#">Forward</a></li>
      </ul>
      <br>
      <ul class="segmented button-group">
        <li><input type="radio" id="segBtn1" name="segBtn"><label for="segBtn1">Eggs</label></li>
        <li><input type="radio" id="segBtn2" name="segBtn"><label for="segBtn2">Bacon</label></li>
        <li><input type="radio" id="segBtn3" name="segBtn"><label for="segBtn3">Toast</label></li>
      </ul>
    </section>

    <section>
      <h4>Tabs</h4>
      <p>Tabs are a great option for showing content when needed and hiding it when not. We have basic tab styles, but the tab functionality can be added to other components like icon bar and button groups.</p>

      <div class="tabs">
        <div class="tab-item is-active" id="item-1">Item 1</div>
        <div class="tab-item" id="item-2">Item 2</div>
        <div class="tab-item" id="item-3">Item 3</div>
        <div class="tab-item" id="item-4">Item 4</div>
        <div class="tab-item" id="item-5">Item 5</div>
      </div>
      <div class="tab-content">
        <div id="item-1" class="tab-pane is-active">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iusto veniam aut voluptatem itaque libero commodi, quod asperiores eaque cumque sequi sunt facilis accusantium quae atque provident, nobis. Pariatur, laudantium.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iusto veniam aut voluptatem itaque libero commodi, quod asperiores eaque cumque sequi sunt facilis accusantium quae atque provident, nobis. Pariatur, laudantium.
          </p>
        </div>
        <div id="item-2" class="tab-pane"></div>
        <div id="item-3" class="tab-pane"></div>
        <div id="item-4" class="tab-pane"></div>
        <div id="item-5" class="tab-pane"></div>
      </div>
    </section>


    <section>
      <h4>Accordion</h4>
      <p>Accordions are a great option for showing content when needed and hiding it when not. We have basic accordion styles, but the accordion functionality can be added to other components like lists.</p>

      <div class="accordion">
        <div class="accordion-item is-active">
          <div class="accordion-title">Item 1</div>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iusto veniam aut voluptatem itaque libero commodi, quod asperiores eaque cumque sequi sunt facilis accusantium quae atque provident, nobis. Pariatur, laudantium.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-title">Item 2</div>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iusto veniam aut voluptatem itaque libero commodi, quod asperiores eaque cumque sequi sunt facilis accusantium quae atque provident, nobis. Pariatur, laudantium.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-title">Item 3</div>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iusto veniam aut voluptatem itaque libero commodi, quod asperiores eaque cumque sequi sunt facilis accusantium quae atque provident, nobis. Pariatur, laudantium.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Content -->

    <section>
      <h4>Cards</h4>
      <p>Cards are generic, flexible containers that can hold images, videos, text, lists, buttons, and more.</p>
      <div class="nested block">
        <div class="small-12 medium-6 large-4 content block">
          <div class="card">
            <img src="http://placekitten.com/g/400/200" />
            <div class="card-division">
              This is content
            </div>
            <div class="card-item">
              <h4>The Basics: Group and Block</h4>
              <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
            </div>
          </div>
        </div>
        <div class="small-12 large-4 content block hide-for-small show-for-large">
          <div class="card">
            <div class="card-item">
              <h4>The Basics: Group and Block</h4>
              <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
            </div>
          </div>
        </div>
        <div class="small-12 medium-6 large-4 content block">
          <div class="card">
            <img src="http://placekitten.com/g/400/200" />
            <div class="card-division">
              This is content
            </div>
            <div class="card-item">
              <h4>The Basics: Group and Block</h4>
              <p>The most basic elements in the Foundation for Apps grid are the Group and Block.</p>
            </div>
            <ul class="icon-bar small">
              <li><a><img src="http://placekitten.com/g/250/250" alt=""><span>Action 1</span></a></li>
              <li><a><img src="http://placekitten.com/g/250/250" alt=""><span>Action 2</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h4>Block lists</h4>
      <p>Block lists are basic list views that resemble the kind you see on most mobile platforms. They can include labels, forms, switches, and more.</p>

      <div class="block-list">
        <header>List Title</header>
        <ul>
          <li><a href="#">List item 1</a></li>
          <li><a href="#">List item 2</a></li>
          <li><a href="#">List item 3</a></li>
        </ul>
      </div>
    </section>

  </div>
  <!-- /Main content -->
</div>
<div fa-modal id="pageModal" >
  <a href="#" fa-modal-close>&times;</a>
  <section class="content block">
    This is a test modal!
  </section>
  <footer class="content block menu-bar">
    <span class="button" fa-modal-close>Ok</span>
    <span class="button" fa-modal-close>Cancel</span>
  </footer>
</div>
