---
name: mail
url: /mail
composed: true
animationIn: bounceIn
animationOut: bounceOut
---
<div class="container block">
  <div class="small-4 large-4 columns">
    <div ui-view="mail.nav"></div>
  </div>
  <div class="small-8 large-8 columns">
    <h1>Page</h1>
    <button fa-open="pageModal">Modal</button>
    <button fa-toggle="pagePanel">Panel</button>
    <button fa-toggle="pageCanvas">Offcanvas</button>
    <p>Welcome to your mailbox. Do you want to go straight to your <a ui-sref="mail.inbox">Inbox</a> or your <a ui-sref="mail.email({ id: 1})">latest email</a>?</p>
    <div ng-class="[currentSlug, 'ui-animation' ]" ui-view></div>
  </div>
</div>
<div class="block">
  <div ui-view="mail.footer"></div>
</div>
<div fa-modal id="pageModal" >
  <a href="#" fa-close>&times;</a>
  <section class="content block">
    {{ vars.name }} | {{ vars.url }}
  </section>
  <footer class="content block menu-bar">
    <span class="button">Ok</span>
    <span class="button">Cancel</span>
  </footer>
</div>
<div fa-panel id="pagePanel" position="left">
  <p>Test</p>
</div>

<div fa-offcanvas id="pageCanvas" position="right">
  <p>Test</p>
</div>
