---
name: mail.inbox
url: /inbox
emails:
  - Brandon
  - Antonin
  - Geoff
  - James
animationIn: fadeIn
animationOut: bounceOut
---
<div>
  <table width="100%">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th width="20%">Read</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="message in vars.emails">
        <td>{{ message }}</td>
        <td>Sample Subject for {{ message }}</td>
        <td><a ui-sref="mail.email({ id: message })" class="button small">Go read</a></td>
      </tr>
    </tbody>
  </table>
</div>
