.button { 
	display: block; 
	margin: 0; 
	padding: ($base-font-size / 2) $base-font-size; 
	font-size: $base-font-size; 
	background: $base-color; 
	color: #fff; 
	font-weight: bold; 
	text-align: center; 
	transition: background 300ms linear;

	&:hover { 
		background: darken($base-color, 10%); 
		color: #fff; }
	&.expand { 
		width: 100%; 
		margin-bottom: 1rem; }
	&.radius { border-radius: 3px; }

	&.secondary { 
		background: $secondary-color; 
		color: #141414; 
		&:hover { 
			background: $dark-secondary-color; 
			color: #141414; 
		}
	}
}