.frame {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-flow: row nowrap;

	&.stack { 
		flex-flow: column nowrap;
	}

	&.unstack { 
		flex-flow: row nowrap;
	}
	
	@media #{$medium-up} {
		&.medium-stack { flex-flow: column nowrap; }
		&.medium-unstack { flex-flow: row nowrap; }
	}
	@media #{$large-up} {
		&.large-stack { flex-flow: column nowrap; }
		&.large-unstack { flex-flow: row nowrap; }
	}

}

.block {
	flex: 1 1 auto;
	padding: 1rem;
	position: relative;

	// border: 1px solid #eee;
	overflow: hidden;

	@for $i from 1 through $total-columns {
	  &.small-#{$i} {
	    flex: 0 0 auto;
	    flex-basis: percentage($i / $total-columns);
	  }
	}

  @media #{$medium-up} {
    @for $i from 1 through $total-columns {
		  &.medium-#{$i} {
		    flex: 0 0 auto;
		    flex-basis: percentage($i / $total-columns);
		  }
		}
  }

  @media #{$large-up} {
    @for $i from 1 through $total-columns {
		  &.large-#{$i} {
		    flex: 0 0 auto;
		    flex-basis: percentage($i / $total-columns);
		  }
		}
  }
}

.group {
	flex: 1 1 auto;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	padding: 0;

	// border: 1px solid #eee;

	&.centered {
		margin-left: auto;
		margin-right: auto;
	}

	@for $i from 1 through $total-columns {
	  &.small-#{$i} {
	    flex: 0 0 auto;
	    flex-basis: percentage($i / $total-columns);
	  }
	}

	@media #{$medium-up} {
    @for $i from 1 through $total-columns {
		  &.medium-#{$i} {
		    flex: 0 0 auto;
		    flex-basis: percentage($i / $total-columns);
		  }
		}
  }

  @media #{$large-up} {
    @for $i from 1 through $total-columns {
		  &.large-#{$i} {
		    flex: 0 0 auto;
		    flex-basis: percentage($i / $total-columns);
		  }
		}
  }

	&.scrollable { overflow-x: scroll; flex-flow: row nowrap; -webkit-overflow-scrolling: touch; }
	&.scrollable-stack { overflow-y: scroll; flex-flow: row wrap; height: 100%; 
		&>.block:not([class*="small-"]) { flex-basis: 100%; }
	}

	&.stack { flex-flow: column wrap; height: 100%; 
		&.scrollable { overflow-y: scroll; flex-flow: column nowrap; }
		&.scrollable-stack { overflow-x: scroll; flex-flow: column wrap; }
	}

	@media #{$medium-up} {
		&.medium-scrollable { overflow-x: scroll; flex-flow: row nowrap; }
		&.medium-scrollable-stack { overflow-y: scroll; flex-flow: row wrap; height: 100%; 
			&>.block:not([class*="small-"]) { flex-basis: 100%; }
		}

		&.medium-stack { flex-flow: column wrap; height: 100%; 
			&.scrollable { overflow-y: scroll; flex-flow: column nowrap; }
			&.scrollable-stack { overflow-x: scroll; flex-flow: column wrap; }
		}
	}

	@media #{$large-up} {
		&.large-scrollable { overflow-x: scroll; flex-flow: row nowrap; }
		&.large-scrollable-stack { overflow-y: scroll; flex-flow: row wrap; height: 100%; 
			&>.block:not([class*="small-"]) { flex-basis: 100%; }
		}

		&.large-stack { flex-flow: column wrap; height: 100%; 
			&.scrollable { overflow-y: scroll; flex-flow: column nowrap; }
			&.scrollable-stack { overflow-x: scroll; flex-flow: column wrap; }
		}
	}

	@media #{$medium-up} {
		&.medium-stack { flex-flow: column nowrap; }
		&.medium-unstack { flex-flow: row nowrap; height: auto; }
	}
	@media #{$large-up} {
		&.large-stack { flex-flow: column nowrap; }
		&.large-unstack { flex-flow: row nowrap; height: auto; }
	}
}

.stack, .medium-stack, .large-stack {

	.block { height: auto; }

	@for $i from 1 through $total-columns {
	  &>.small-#{$i} {
	    height: percentage($i / $total-columns);
	  }
	}

	@media #{$medium-up} {
    @for $i from 1 through $total-columns {
		  &>.medium-#{$i} {
		    height: percentage($i / $total-columns);
		  }
		}
  }

  @media #{$large-up} {
    @for $i from 1 through $total-columns {
		  &>.large-#{$i} {
		    height: percentage($i / $total-columns);
		  }
		}
  }
}

.collapsed.block,
.group.collapsed > .block {
		padding: 0;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

img { max-width: 100%; }

