@mixin flex($grow:0, $shrink:1, $basis:auto){
	flex-grow: $grow;
	-webkit-flex-grow: $grow;
	-ms-flex-grow: $grow;

	flex-shrink: $shrink;
	-webkit-flex-shrink: $shrink;
	-ms-flex-shrink: $shrink;

	flex-basis: $basis;
	-webkit-flex-basis: $basis;
	-ms-flex-basis: $basis;
}

@mixin flex-flow($dir:row, $wrap:nowrap) {
	flex-direction: $dir;
	-webkit-flex-direction: $dir;
	-ms-flex-direction: $dir;
	flex-wrap: $wrap;
	-webkit-flex-wrap: $wrap;
	-ms-flex-wrap: $wrap;
}

.frame {
	@include flex-flow();
	margin: 0;
	height: 100vh;
	display: -webkit-flex;
	display: flex;

	&.stack { 
		@include flex-flow($dir:column);
	}

	&.unstack { 
		@include flex-flow();
	}
	
	@media #{$medium-up} {
		&.medium-stack { @include flex-flow($dir:column); }
		&.medium-unstack { @include flex-flow(); }
	}
	@media #{$large-up} {
		&.large-stack { @include flex-flow($dir:column); }
		&.large-unstack { @include flex-flow(); }
	}

}

.block {
	@include flex(1,1,auto);
	padding: 1rem;
	position: relative;

	border: 1px solid #eee;
	overflow: hidden;

	@for $i from 1 through $total-columns {
	  &.small-#{$i} {
	    @include flex(0,0,percentage($i / $total-columns))
	  }
	}

  @media #{$medium-up} {
    @for $i from 1 through $total-columns {
		  &.medium-#{$i} {
		    @include flex(0,0,percentage($i / $total-columns));
		  }
		}
  }

  @media #{$large-up} {
    @for $i from 1 through $total-columns {
		  &.large-#{$i} {
		    @include flex(0,0,percentage($i / $total-columns));
		  }
		}
  }
}

.block, .group {
	transition: all 300ms ease;
}

.group {

	@include flex(1,1,auto);
	position: relative;
	display: -webkit-flex;
	display: flex;
	@include flex-flow($dir:row, $wrap:wrap);
	padding: 0;

	border: 1px solid #eee;

	&.centered {
		justify-content: center;
	}

	@for $i from 1 through $total-columns {
	  &.small-#{$i} {
	    @include flex(0,0,percentage($i / $total-columns))
	  }
	}

	@media #{$medium-up} {
    @for $i from 1 through $total-columns {
		  &.medium-#{$i} {
		    @include flex(0,0,percentage($i / $total-columns));
		  }
		}
  }

  @media #{$large-up} {
    @for $i from 1 through $total-columns {
		  &.large-#{$i} {
		    @include flex(0,0,percentage($i / $total-columns));
		  }
		}
  }

	&.scrollable { 
		@include flex-flow();
		overflow-x: scroll; 
		@include flex-flow(); 
		-webkit-overflow-scrolling: touch; }
	&.scrollable-stack { overflow-y: scroll; @include flex-flow($dir:row, $wrap:wrap); height: 100%; 
		&>.block:not([class*="small-"]) { flex-basis: 100%; }
	}

	&.stack { 
		@include flex-flow($dir:column, $wrap:wrap); 
		height: 100%; 
		width: 100%;
		&.scrollable { 
			overflow-y: scroll; 
			@include flex-flow($dir:column); 
		}
		&.scrollable-stack { 
			@include flex-flow($dir:column, $wrap:wrap);
			overflow-x: scroll;  
		}
	}

	@media #{$medium-up} {
		&.medium-scrollable { 
			overflow-x: scroll;  
			@include flex-flow(); 
		}
		&.medium-scrollable-stack { 
			overflow-y: scroll; 
			@include flex-flow($wrap:wrap); 
			height: 100%; 
			&>.block:not([class*="small-"]) { 
				flex-basis: 100%; 
			}
		}

		&.medium-stack { 
			@include flex-flow($dir:column, $wrap:wrap); 
			height: 100%; 
			&.scrollable { 
				overflow-y: scroll; 
				@include flex-flow($dir:column); 
			}
			&.scrollable-stack { 
				overflow-x: scroll; 
				@include flex-flow($dir:column, $wrap:wrap); 
			}
		}
	}

	@media #{$large-up} {
		&.large-scrollable { 
			overflow-x: scroll; 
			@include flex-flow(); 
		}
		&.large-scrollable-stack { 
			overflow-y: scroll; 
			@include flex-flow($dir:row, $wrap:wrap); 
			height: 100%; 
			&>.block:not([class*="small-"]) { 
				flex-basis: 100%; 
			}
		}

		&.large-stack { 
			@include flex-flow($dir:column, $wrap:wrap); height: 100%; 
			&.scrollable { 
				overflow-y: scroll; 
				@include flex-flow($dir:column); 
			}
			&.scrollable-stack { 
				overflow-x: scroll; 
				@include flex-flow($dir:column, $wrap:wrap); 
			}
		}
	}

	@media #{$medium-up} {
		&.medium-stack { @include flex-flow($dir:column); }
		&.medium-unstack { 
			@include flex-flow(); 
			height: auto; 
		}
	}
	@media #{$large-up} {
		&.large-stack { 
			@include flex-flow($dir:column); 
		}
		&.large-unstack { 
			@include flex-flow(); 
			height: auto; 
		}
	}
}

.stack, .medium-stack, .large-stack {

	.block { height: auto; }

	@for $i from 1 through $total-columns {
	  &>.small-#{$i} {
	    height: percentage($i / $total-columns);
	  }
	}

	@media #{$medium-up} {
    @for $i from 1 through $total-columns {
		  &>.medium-#{$i} {
		    height: percentage($i / $total-columns);
		  }
		}
  }

  @media #{$large-up} {
    @for $i from 1 through $total-columns {
		  &>.large-#{$i} {
		    height: percentage($i / $total-columns);
		  }
		}
  }
}

.collapsed.block,
.group.collapsed > .block {
		padding: 0;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

img { max-width: 100%; }

