// ANIMATIONS

.animate {
	animation-duration: 1s;
  animation-fill-mode: both;
  &.fast { animation-duration: 500ms; }
  &.slow { animation-duration: 1.5s; }
}

// Slide Down

// Slide In
@keyframes slide-down {
	0% {
    opacity: 1;
    transform: translateY(0);
    transform-origin: top; 
  }
	
	10% {
  	transform: translateY(-10px);
  }


	80% { opacity: 0.7; }

  100% {
  	opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slide-out-left {
	0% {
    opacity: 1;
    transform: translateX(0);
  }

  10% {
  	// add some anticipation
  	transform: translateX(5%);
  }

  100% {
  	opacity: 0;
    transform: translateX(-100%);
  }
}

img#image {
	perspective: 200deg;
	&.animate {
		animation: slide-out-left 1s 0 forwards;
	}
}

// MODULE
// We use this as a motion container.
.module {
	flex-basis: 0%;
	width: 100%;
	height: 200px;
	background: rgba(white, 0.7);
	position: absolute;
	bottom:0; 
	left:0;
	// transition: transform 300ms ease;
	&.animate {
		animation: slide-down 1s 1 forwards;
	}
}