/* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}


a { color: $base-color; text-decoration: none; line-height: inherit; 

    &:hover, &:focus { color: $dark-color; }
    img { border: none; display: block; }
}

p { font-size: $base-font-size; color: #555; margin: 0 0 1rem; padding: 0; }

h1 { font-size: 3.034rem; }
h2 { font-size: 2.618rem; }
h3 { font-size: 1.875rem; }
h4 { font-size: 1.618rem; }
h5 { font-size: 1.159rem; }
h6 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 1rem;

    &.light { font-weight: 300; }
    small { font-size: 75%; }
}