// Sidebar
// -------
// The sidebar navigation menu.

.docs-sidebar {
  padding: 0 !important;
  background: #f9f9f9 !important;
  border-right: 1px solid #e7e7e7;
  transition-timing-function: get-timing(bounceInOut) !important;

  @include breakpoint(medium) {
    @include grid-panel-reset;
    @include grid-block(3);
    @include grid-orient(vertical);
  }

  @include breakpoint(large) {
    @include grid-size(2);
  }

  .button {
    width: auto;
    margin-left: $global-padding;
    margin-right: $global-padding;
    margin-bottom: 0;
  }

  .menu-bar {
    background: #f9f9f9 !important;

    a {
      font-size: .8rem;
      color: $primary-color;
      align-items: flex-start;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    .title {
      font-size: 0.85rem;
      text-transform: uppercase;
      color: #666;
      font-weight: bold;
      padding-top: 1rem;
      padding-bottom: 0.25rem;
    }
  }
}