/*
  DROPDOWN
  Dropdowns are action sheets on smaller screens and popup menus
*/

@mixin action-sheet($position: bottom) {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 -3px 10px rgba(black, 0.25);
  text-align: center;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
  z-index: 1000;

  // Positions
  @if $position == bottom {
    bottom: 0;
    transform: translateY(100%);

    &.is-active {
      transform: translateY(0%);
    }
  }
  // These two don't quite work as planned yet
  @else if $position == top {
    top: 0;
    transform: translateY(-100%);

    &.is-active {
      transform: translateY(0%);
    }
  }
  @else if $position == center {
    top: 50%;
    transform: translateY(-50%), scale(80%);
    opacity: 0;
    pointer-events: none;

    &.is-active {
      transform: translateY(-50%), scale(100%);
      opacity: 1;
    }
  }

  // Menu styles
  ul {
    margin: 0 -1rem -1rem -1rem;
    list-style-type: none;
    user-select: none;

    &:first-child {
      margin-top: -1rem;
      li:first-child {
        border-top: 0;
      }
    }
  }
  li {
    border-bottom: 1px solid #ccc;

    &:first-child {
      border-top: 1px solid #ccc;
    }
  }
  a {
    display: block;
    padding: 0.8rem;
    line-height: 1;
    color: black;

    &:hover {
      color: black;
      background: #f7f7f7;
    }
  }
}

@mixin popup-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(110%);
  width: 300px;
  box-shadow: 0 0 10px rgba(black, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-out, transform 0.25s ease-out;
  border-radius: 4px;

  // Active state
  &.is-active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(100%);
  }

  // Menu tail
  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -10px;
    width: 0px;
    height: 0px;
    margin-left: -10px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  &::before {
    border-bottom-color: rgba(black, 0.15);
    top: -12px;
  }
}

/*
  Class output
*/
.action-sheet-container {
  position: relative;
  display: inline-block;
}
.action-sheet {
  @include action-sheet;

  @media #{$medium-up} {
    @include popup-menu;
  }
}