/*
  BLOCK LISTS
*/

$blocklist-background: #fff !default;
$blocklist-fullbleed: true !default;
$blocklist-fontsize: 1rem !default;

$blocklist-item-padding: 0.8rem 1rem !default;
$blocklist-item-color: isitlight($blocklist-background, #000, #fff) !default;
$blocklist-item-background-hover: smartscale($blocklist-background, 4.5%) !default;
$blocklist-item-color-disabled: #999 !default;
$blocklist-item-border: 1px solid smartscale($blocklist-background, 18.5%) !default;

$blocklist-header-fontsize: 0.8em !default;
$blocklist-header-color: smartscale($blocklist-item-color, 40%) !default;

$blocklist-item-label-color: scale-color($blocklist-item-color, $lightness: 60%) !default;
$blocklist-item-icon-size: 0.8 !default;

// Container
.block-list {
  // Internal settings
  $item-height: 
    $blocklist-fontsize
    + get-side($blocklist-item-padding, top)
    + get-side($blocklist-item-padding, top);
  $icon-height: $item-height * $blocklist-item-icon-size;

  width: 100%;
  margin-bottom: 1rem;
  font-size: $blocklist-fontsize;
  line-height: 1;
  user-select: none;

  @if $blocklist-fullbleed {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  // Title of list (optional)
  header {
    margin-top: 1em;
    text-transform: uppercase;
    color: $blocklist-header-color;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 1em;
    font-size: $blocklist-header-fontsize;
  }
  // List container
  ul {
    list-style-type: none;
    margin-left: 0;
  }
  // List item
  li {
    position: relative;

    @if hasvalue($blocklist-item-border) {
      border-bottom: $blocklist-item-border;
      &:first-child {
        border-top: $blocklist-item-border;
      }
    }
  }

  // Inner elements share the same basic styles
  a, span, label {
    display: block;
    padding: $blocklist-item-padding;
    padding-left: get-side($blocklist-item-padding, left);
    color: $blocklist-item-color;
    line-height: 1;
  }
  a, label {
    cursor: pointer;

    &:hover {
      color: $blocklist-item-color;
      background: $blocklist-item-background-hover;
    }
  }

  // Coloring classes
  li.caution > a {
    &, &:hover { color: $alert-color; }
  }
  li.disabled > a {
    cursor: default;
    &, &:hover { color: $blocklist-item-color-disabled; }
    &:hover { background: transparent; }
  }

  // Carats
  &.with-caret {
    // Caret
    &::after {
      content: '\203A';
      display: block;
      position: absolute;
      right: get-side($blocklist-item-padding, right);
      top: 0;
      line-height: $item-height;
      font-weight: bold;
      color: $blocklist-header-color;
      font-size: 1em;
    }
  }

  // Labels
  .label {
    position: absolute;
    color: $blocklist-item-label-color;
    top: 0;
    right: get-side($blocklist-item-padding, right);
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    pointer-events: none;
  }
  .with-caret .label {
    // Labels next to links move over to make room for the caret
    padding-right: get-side($blocklist-item-padding, right);
  }

  // Inputs
  input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: -9999px;

    &:checked + label {
      &::after {
        content: 'Hell yeah';
        color: $primary-color;
        float: right;
        pointer-events: none;
      }
    }
  }

  // Lists with icons
  &.with-icons {
    a, span, label {
      padding-left: (get-side($blocklist-item-padding, left) * 2) + $blocklist-item-icon-size;
    }
  }
  // Icons
  li img {
    position: absolute;
    left: 1em;
    top: $item-height * 0.1;
    width: $blocklist-item-icon-size;
    height: $blocklist-item-icon-size;
    border-radius: 8px;
  }
}
