/*
  Cards

  Structure:

  titles
  lists
*/

$card-background: #fff;
$card-color: isitlight($card-background);
$card-border: 1px solid smartscale($card-background, 7%);
$card-radius: $global-radius;
$card-shadow: 0 1px 2px rgba(#000, 0.2);
$card-padding: $global-padding;
$card-margin: 0.5rem;

$card-divider-background: smartscale($card-background, 7%);

@mixin card-container(
  $background: $card-background,
  $color: $card-color,
  $border: $card-border,
  $radius: $card-radius,
  $shadow: $card-shadow,
  $padding: $card-padding,
  $margin: $card-margin
) {
  border: $border;
  margin-bottom: $margin;
  background: $background;
  color: $color;
  border-radius: $radius;
  box-shadow: $shadow;
  overflow: hidden;

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }

  ul {
    margin-bottom: 0;
  }
}

@mixin card-divider(
  $background: $card-divider-background,
  $padding: $card-padding
) {
  background: $background;
  padding: $padding;
}

@mixin card-section(
  $padding: $card-padding
) {
  padding: $padding;
}

/*
  CSS Output
*/
.card {
  @include card-container;

  @each $color in map-keys($foundation-colors) {
    &.#{$color} {
      $color-value: map-get($foundation-colors, $color);
      @include card-container(
        $background: $color-value,
        $color: isitlight($color-value),
        $border: 0
      );
      .card-division {
        @include card-divider(
          $background: smartscale($color-value, 7%)
        );
      }
    }
  }
}
  .card-division {
    @include card-divider;
  }
  .card-item {
    @include card-section;
  }