$base-color: $primary-color;
$light-color: lighten($base-color, 15%);

$dark-secondary-color: darken($secondary-color, 15%);
$light-secondary-color: lighten($secondary-color, 15%);

$dark-color: #333;

.color-dark {
  background-color: $dark-color;

  &, h1, h2, h3, h4, h5, h6, a {
    color: #fff;
  }
}

.color-primary {
  background-color: $primary-color;

  &, h1, h2, h3, h4, h5, h6, a {
    color: if(lightness($primary-color) > 60%, #000, #fff);
  }
}
