/*
  FORMS
  -----

  Our form styles include basic resets for text fields, select menus, and so on, along with some of our own custom components.

  Includes:
   - Text fields
   - Text areas
   - Select menus
   - Checkboxes and radio buttons
   - Range slider
   - Progress bars and meters
*/

// Basic form variables
$form-fontsize: 1rem;
$form-padding: 0.5rem;

// Text fields
$input-color: #000;
$input-color-hover: $input-color;
$input-color-focus: $input-color;
$input-background: #fff;
$input-background-hover: $input-background;
$input-background-focus: $input-background;
$input-border: 1px solid #ccc;
$input-border-hover: 1px solid #bbb;
$input-border-focus: 1px solid #999;

// Select menus
$select-color: #000;
$select-background: #fafafa;
$select-background-hover: smartscale($select-background, 4%);
$select-arrow: true;
$select-arrow-color: $select-color;

// Labels
$label-fontsize: 0.9rem;
$label-margin: 0.5rem;
$label-color: #333;

// Inline labels
$inlinelabel-color: #333;
$inlinelabel-background: #eee;
$inlinelabel-border: $input-border;

// Progress and meter
$meter-maxwidth: 200px;
$meter-height: 1rem;
$meter-background: #ccc;
$meter-fill: $primary-color;
$meter-fill-high: $success-color;
$meter-fill-medium: #e7cf00;
$meter-fill-low: $alert-color;

// Disable OS-level styles
%no-appearance {
  -webkit-appearance: none;
     -moz-appearance: none;
}

// Text fields
#{$text-input-selectors} {
  display: block;
  width: 100%;
  padding: $form-padding;
  margin: 0 0 $global-padding 0;
  border: $input-border;
  background: $input-background;
  color: $input-color;
  font-size: $form-fontsize;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  &:hover {
    border: $input-border-hover;
    background: $input-background-hover;
    color: $input-color-hover;
  }
  &:focus {
    outline: 0;
    border: $input-border-focus;
    background: $input-background-focus;
    color: $input-color-focus;
  }

  label > & {
    margin-top: $label-margin;
  }
}

// Labels
label {
  display: block;
  font-size: $label-fontsize;
  margin-bottom: $label-margin;
  color: $label-color;

  > input, > textarea {
    margin-top: $label-margin;
  }
}

// Inline labels allow you to prefix or postfix special labels to inputs
.inline-label {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin-bottom: $global-padding;

  // Imitates the top margin on normal inputs
  label > & {
    margin-top: $label-margin;
  }

  // Inputs stretch all the way out
  > input, > select {
    flex: 1;
    margin: 0;
  }

  // Inline labels and buttons shrink
  > .form-label {
    flex: 0 0 auto;
    background: $inlinelabel-background;
    color: $inlinelabel-color;
    border: $inlinelabel-border;
    padding: 0 $form-padding;
    display: flex;
    align-items: center;

    &:first-child { border-right: 0; }
    &:last-child  { border-left: 0; }
  }
  // Assumed to be a button
  > a {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    border-radius: 0;
  }
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  width: 100%;
  min-height: 50px;
}

// Make select elements 100% width by default
select {
  $color: isitlight($select-background);

  @extend %no-appearance;
  display: block;
  width: 100%;
  padding: $form-padding;
  margin: 0 0 $global-padding 0;
  font-size: $form-fontsize;
  color: $select-color;
  border-radius: 0;

  @if $select-arrow {
    background: $select-background url(image-triangle($select-arrow-color)) right 10px center no-repeat;
    background-size: 8px 8px;
  }
  @else {
    background-color: $select-background
  }

  &:hover {
    background-color: $select-background-hover;
  }

  &:focus {
    outline: 0;
  }
}

/*
  Range slider
*/
$thumb-color: $primary-color;
$thumb-height: 16px;

input[type="range"] {
  @extend %no-appearance;
  max-width: 300px;
  height: 4px;
  background: #ccc;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  // Chrome/Safari
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $thumb-color;
    border-radius: 1000px;
    width: $thumb-height;
    height: $thumb-height;
  }
  // Firefox
  &::-moz-range-track {
    -moz-appearance: none;
    max-width: 300px;
    height: 4px;
    background: #ccc;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    -moz-appearance: none;
    background: $thumb-color;
    border-radius: 1000px;
    width: $thumb-height;
    height: $thumb-height;
  }
  // Internet Explorer
  &::-ms-track {
    max-width: 300px;
    height: 4px;
    background: #ccc;
    cursor: pointer;
  }
  &::-ms-thumb {
    background: $thumb-color;
    border-radius: 1000px;
    width: $thumb-height;
    height: $thumb-height;
  }
}
output {
  line-height: $thumb-height;
  vertical-align: middle;
  margin-left: 0.5em;
}

/*
  Number inputs
*/
input[type="number"] {
  &::-webkit-inner-spin-button {

  }
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: $primary-color;
  }
}

/*
  Progress and meter
*/
progress, meter {
  @extend %no-appearance;
  display: block;
  width: 100%;
  max-width: $meter-maxwidth;
  height: $meter-height;

  // For Firefox
  background: $meter-background;
  border: 0;
}

progress {
  &::-webkit-progress-bar {
    background: $meter-background;
  }
  &::-webkit-progress-value {
    background: $meter-fill;
  }
  &::-moz-progress-bar {
    background: $meter-fill;
  }
}
meter {
  // Chrome/Safari
  &::-webkit-meter-bar {
    background: $meter-background;
  }
  &::-webkit-meter-optimum-value {
    background: $meter-fill-high;
  }
  &::-webkit-meter-suboptimum-value {
    background: $meter-fill-medium;
  }
  &::-webkit-meter-even-less-good-value {
    background: $meter-fill-low;
  }

  // Firefox
  background: $meter-background;
  &::-moz-meter-bar {
    background: $primary-color;
  }
  &:-moz-meter-optimum::-moz-meter-bar {
    background: $meter-fill-high;
  }
  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: $meter-fill-medium;
  }
  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: $meter-fill-low;
  }
}
