/*
  Label
*/

$label-fontsize: 0.8rem !default;
$label-padding: ($global-padding / 3) ($global-padding / 2) !default;
$label-radius: 0 !default;
$label-background: $primary-color !default;
$label-color: isitlight($primary-color) !default;


%label {
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  cursor: default;
}

@mixin label-layout(
  $fontsize: $label-fontsize,
  $padding: $label-padding
) {
  font-size: $fontsize;
  padding: $padding;
}

@mixin label-style(
  $background: $label-background,
  $color: $label-color,
  $radius: $label-radius
) {
  background: $background;
  border-radius: $label-radius;

  @if $color == auto {
    color: isitlight($background);
  }
  @else {
    color: $color;
  }
}

@mixin label(
  $background: $label-background,
  $color: $label-color,
  $radius: $label-radius,
  $fontsize: $label-fontsize,
  $padding: $label-padding
) {
  @extend %label;
  @include label-layout($fontsize, $padding);
  @include label-style($background, $color, $radius);
}

/*
  CSS Output
*/

.label {
  @include label;

  @each $color in map-keys($foundation-colors) {
    &.#{$color} {
      $color-value: map-get($foundation-colors, $color);
      @include label-style($color-value, auto);
    }
  }
}
