// Icon Bar component

$icon-bar-bg: #333 !default;
$icon-bar-hover-bg: $primary-color !default;
$icon-bar-color: #fff !default;
$icon-bar-border-color: rgba(255,255,255,0.3) !default;

// Menu bar container
%menu-bar {
  display: flex;
  background: $icon-bar-bg;
  color: $icon-bar-color;
  margin-left: 0;
  border: 0;
  align-items: stretch;
  list-style-type: none;

  // Menu item
  li {
    // This flex setting makes each item an equal width
    flex: 1 0 0px;

    // Borders
    border-left: 1px solid $icon-bar-border-color;
    &:first-child {
      border-left: none;
    }
    &:hover {
      &, & + li {
        border-color: $primary-color;
      }
    }

    // Link inside menu item
    a {
      display: flex;
      flex-flow: column nowrap;
      align-self: center;
      align-items: center;
      padding: .25rem;
      color: white;
      line-height: 1;
      font-size:.75rem;
      &:hover {
        background: $icon-bar-hover-bg;
      }
    }
    // Icon
    img {
      width: 25px;
      height: 25px;

      // Add spacing when there's an icon and text
      & + span {
        margin-top: 0.25rem;
      }
    }
  }

  // Styles to reorient the icon relative to the text
  &-icon-left {
    a {
      flex-flow: row nowrap;
      align-items: center;
      img { margin-right: 0.5rem; }
      span { margin-top: 0; }
    }
  }
  &-icon-right {
    a {
      flex-flow: row-reverse nowrap;
      img { margin-left: 0.5rem; }
      span { margin-top: 0; }
    }
  }
  &-icon-bottom {
    a {
      flex-flow: column-reverse nowrap;
      img + span { margin-top: 0; margin-bottom: 0.5rem; }
    }
  }
}

/*
  Mixins
*/
@mixin menu-bar($icon-position: top) {
  @extend %menu-bar;

  @if $icon-position != top {
    @extend %icon-#{$icon-position};
  }
}
// Converts the horizontal menu bar into a vertical one
@mixin vertical-menu-bar {
  // Converting a flexbox row to column is the basic way to get it done
  flex-flow: column nowrap;

  a {
    // By default the icon/text is side-by-side
    flex-flow: row nowrap;
    border-left: none;

    border-bottom: 1px solid $icon-bar-border-color;
    &:last-child { border-bottom: none; }

    span { margin-top: 0; }
    img + span { margin-left: 1rem; }
  }
}

/*
  CSS output
*/
.icon-bar {
  @include menu-bar;

  &.icon-left { @extend %menu-bar-icon-left; }
  &.icon-right { @extend %menu-bar-icon-right; }
  &.icon-bottom { @extend %menu-bar-icon-bottom; }
  &.vertical { @include vertical-menu-bar; }

  @each $size in $breakpoint-classes {
    @include breakpoint($size) {
      &.#{$size}-vertical {
        @include vertical-menu-bar;
      }
    }
  }
}
