// Tabs

.tabs {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #ddd;
	border-width: 1px 0 0 1px;

	.tab-item {
		background: #f4f4f4;
		height: 40px;
		padding: 0 1rem;
		line-height: 40px;
		border: 0px solid #ddd;
		border-width: 0 1px 1px 0;
		margin: 0;
		flex: 1 1 auto;
		&.is-active {
			background: transparent;
			color: $primary-color;
			border-width: 0 1px 0 0;
		}
		&:hover {
			background: #e4e4e4;
		}
	}
}

.tab-content {
	flex: 0 0 auto;
	flex-basis: 100%;
	width: 100%;
	padding: 1rem;
	border: 0 solid #ddd;
	border-width: 0 1px 1px 1px;
	.tab-pane {
		display: none;
		&.is-active {
			display: block;
		}
	}
}




