/*
  TABS
  ----
*/

$tab-border-width: 1px;
$tab-border-color: #ddd;

$tab-title-background: #f4f4f4;
$tab-title-background-hover: #e4e4e4;
$tab-title-background-active: #fff;
$tab-title-color: isitlight($tab-title-background);
$tab-title-color-active: $primary-color;

$tab-title-padding: ($global-padding * 0.75) $global-padding;
$tab-content-padding: $global-padding;

%tabstrip-container {
  display: flex;
  flex-flow: row wrap;
}

@mixin tabstrip-container {
  @extend %tabstrip-container;
}

@mixin tabstrip-item {
  background: $tab-title-background;
  padding: $tab-title-padding;
  line-height: 1;
  border: $tab-border-width solid $tab-border-color;
  border-left-width: 0;
  margin: 0;
  flex: 0 1 auto;
  cursor: pointer;
  color: $tab-title-color;

  &:first-child {
    border-left-width: $tab-border-width;
  }

  &.is-active {
    background: $tab-title-background-active;
    color: $tab-title-color-active;
    border-bottom-color: $tab-title-background-active;

    &:hover {
      background: $tab-title-background-active;
    }
  }
  &:hover {
    background: $tab-title-background-hover;
  }
}

@mixin tab-content {
  padding: $tab-content-padding;
  border: 0 solid $tab-border-color;
  border-width: $tab-border-width;
  margin-top: -$tab-border-width;
}

@mixin tab-content-item {
  display: none;
  &.is-active {
    display: block;
  }
}

/*
  CSS Output
*/

.tabs {
  @include tabstrip-container;

	.tab-item {
    @include tabstrip-item;
	}
}

.tab-content {
	@include tab-content;

  .tab-pane {
    @include tab-content-item;
  }
}




