/*
  UTILITIES
  ---------

  Responsive helper classes to assist you in quickly doing basic formatting and layout.

  Features:
   - Vertical alignment
   - Visibility
   - Text alignment
   - Floating
*/

.v-align {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.small-align-top { align-self: flex-start; }
	.small-align-bottom { align-self: flex-end; }

	@media #{$medium-up} {
		.medium-align-top { align-self: flex-start; }
		.medium-align-middle { align-self: center; }
		.medium-align-bottom { align-self: flex-end; }
	}
	@media #{$large-up} {
		.large-align-top { align-self: flex-start; }
		.large-align-middle { align-self: center; }
		.large-align-bottom { align-self: flex-end; }
	}
}

/*
  Visibility
*/
.hide {
  display: none;
}
@each $size in $breakpoint-classes {
  @include breakpoint($size) {
    .hide-for-#{$size} {
      display: none;
    }
    .show-for-#{$size} {
      display: block;
    }
  }
  @include breakpoint($size only) {
    .hide-for-#{$size}-only {
      display: none;
    }
    .show-for-#{$size}-only {
      display: block;
    }
  }
}

/*
  Text alignment
*/
@each $align in ('left', 'right', 'center', 'justify') {
  @each $size in $breakpoint-classes {
    .text-#{$align} {
      text-align: $align;
    }
    @include breakpoint($size) {
      .#{$size}-text-#{$align} {
        text-align: $align;
      }
    }
    @include breakpoint($size only) {
      .#{$size}-only-text-#{$align} {
        text-align: $align;
      }
    }
  }
}

/*
  Floating
*/
.clearfix { @include clearfix; }
@each $float in ('left', 'right', 'none') {
  .float-#{$float} {
    float: #{$float};
  }
  @each $size in $breakpoint-classes {
    @include breakpoint($size) {
      .#{$size}-float-#{$float} {
        float: #{$float};
      }
    }
  }
}
