// Foundation for Apps Utility Classes


// Vertical alignment classes, hat tip to Solved with Flexbox. http://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/

.v-align {
	display: flex;
	align-items: center;
	// justify-content: center;

	.small-align-top { align-self: flex-start; }
	.small-align-bottom { align-self: flex-end; }

	@media #{$medium-up} {
		.medium-align-top { align-self: flex-start; }
		.medium-align-middle { align-self: center; }
		.medium-align-bottom { align-self: flex-end; }
	}
	@media #{$large-up} {
		.large-align-top { align-self: flex-start; }
		.large-align-middle { align-self: center; }
		.large-align-bottom { align-self: flex-end; }
	}
}

.h-align {
	margin: 0 auto;
	display: block;
}

$breakpoints: (
  'small': ($small-up, $small-only),
  'medium': ($medium-up, $medium-only),
  'large': ($large-up, $large-only),
);

/*
  Visibility
*/
.hide {
  display: none;
}
@each $size, $breakpoint in $breakpoints {
  @media #{nth($breakpoint, 1)} {
    .hide-for-#{$size} {
      display: none;
    }
    .show-for-#{$size} {
      display: block;
    }
  }
  @media #{nth($breakpoint, 2)} {
    .hide-for-#{$size}-only {
      display: none;
    }
    .show-for-#{$size}-only {
      display: block;
    }
  }
}

/*
  Floating
*/
.clearfix { @include clearfix; }
@each $float in ('left', 'right', 'none') {
  .float-#{$float} {
    float: #{$float};
  }
  @each $size, $breakpoint in $breakpoints {
    @media #{nth($breakpoint, 1)} {
      .#{$size}-float-#{$float} {
        float: #{$float};
      }
    }
  }
}

/*
  Text alignment
*/
@each $align in ('left', 'right', 'center', 'justify') {
	@each $size, $breakpoint in $breakpoints {
		.text-#{$align} {
			text-align: $align;
		}
		@media #{nth($breakpoint, 1)} {
			.#{$size}-text-#{$align} {
				text-align: $align;
			}
		}
		@media #{nth($breakpoint, 2)} {
			.#{$size}-only-text-#{$align} {
				text-align: $align;
			}
		}
	}
}
