/*
  UTILITIES
  ---------

  Responsive helper classes to assist you in quickly doing basic formatting and layout.

  Features:
   - Vertical alignment
   - Visibility
   - Text alignment
   - Floating
*/

@mixin show-for($size) {
  display: none !important;
  @include breakpoint($size) {
    display: block !important;
  }
}
@mixin show-for-only($size) {
  display: none !important;
  @include breakpoint($size only) {
    display: block !important;
  }
}
@mixin hide-for($size) {
  display: block !important;
  @include breakpoint($size) {
    display: none !important;
  }
}
@mixin hide-for-only($size) {
  display: block !important;
  @include breakpoint($size only) {
    display: none !important;
  }
}

@include exports(utilities) {
  /*
    Vertical alignment
  */
  .v-align {
    display: flex;
    align-items: center;
    justify-content: space-between;

    $align-values: (
      'top': flex-start,
      'center': center,
      'bottom': flex-end,
    );

    @each $orient in (top, center, bottom) {
      .align-#{$orient} {
        align-self: map-get($align-values, $orient);
      }
    }
    @each $size in $breakpoint-classes {
      @each $orient in (top, center, bottom) {
        @include breakpoint($size) {
          .#{$size}-align-#{$orient} {
            align-self: map-get($align-values, $orient);
          }
        }
      }
    }
  }

  /*
    Visibility
  */
  .hide { display: none !important; }
  .invisible { visibility: hidden; }
  @each $size in $breakpoint-classes {
    .hide-for-#{$size} {
      @include hide-for($size);
    }
    .show-for-#{$size} {
      @include show-for($size);
    }
    .hide-for-#{$size}-only {
      @include hide-for-only($size);
    }
    .show-for-#{$size}-only {
      @include show-for-only($size);
    }
  }
  @each $orientation in (portrait, landscape) {
    @include breakpoint($orientation) {
      .hide-for-#{$orientation} {
        display: none !important;
      }
      .show-for-#{$orientation} {
        display: block !important;
      }
    }
  }

  /*
    Text alignment
  */
  @each $align in (left, right, center, justify) {
    @each $size in $breakpoint-classes {
      .text-#{$align} {
        text-align: $align;
      }
      @include breakpoint($size) {
        .#{$size}-text-#{$align} {
          text-align: $align;
        }
      }
      @include breakpoint($size only) {
        .#{$size}-only-text-#{$align} {
          text-align: $align;
        }
      }
    }
  }

  /*
    Floating
  */
  .clearfix { @include clearfix; }
  @each $float in (left, right, none) {
    .float-#{$float} {
      float: #{$float};
    }
  }
}
