#docs {
	background: rgb(7,60,86);
	margin-bottom: 3rem;

	h1, h2, h3, h4, h5, h6 {
		color: #fff;

		small { color: rgba(255,255,255,0.5); }
	}
}

.docs.container {
	max-width: 1000px;
}

section.docs {
	// border-bottom: 1px solid #eee; padding-top: 1rem;
}

footer {
	background: rgb(7,60,86);
	padding: 1rem 0;

	p { color: rgba(#fff, 0.5); margin: 0; padding: 0; }
	a { color: #fff; }
}

.square {
	width: 100px;
	height: 100px;
	background: $info-color;
	display: block;
	margin-bottom: rem-calc(15);
}

.button {
	@include button($padding:$button-sml, $radius:true);
}

hr { border-color: #EEE; }

hr.contain {
	width: calc(100% - 2rem);
	margin: 0 auto;
	border-color: #EEE;
	padding-bottom: rem-calc(30);
}

h6 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: rem-calc(14);
	color: lighten(black, 40%);
}

.spinner {
	width: 100px;
	height: 100px;
	border: 20px solid $secondary-color;
	border-top-color: $info-color;
	border-radius: $global-rounded;
}

// small.msg { display: block;}

input[type=text].error {
	border-color: $alert-color;
}

.side-nav {
	list-style-type: none;
	margin:0;
	a { color: $body-font-color; }
	li { margin-bottom: rem-calc(10); }
	li.active {
		font-weight: bold;
		a { color: $primary-color; }
	}
}

.top-bar {
	background: $union-navy;
	&, #{$headers}, a { color: #FFF; }
}

.side-bar {
	background: $secondary-color;
}

.middle-bar {
	background: scale-color($secondary-color, $lightness: 80%);
}

.msg {
	border-bottom: 1px solid $secondary-color;
	&.selected {
		box-shadow: inset 3px 0 0 0 $primary-color;
		background: scale-color($info-color, $lightness: 70%);
	}
}

.compose {
	@include spin();
	height: rem-calc(500);
	width: rem-calc(600);
	position: absolute;
	right: rem-calc(15);
	bottom:0;
	border: 1px solid $secondary-color;
	z-index: 1000;
	background: #FFF;
	bottom: -20px;

  .close {
    position: absolute;
    right: rem-calc(15);
    top: rem-calc(10);
    font-size: rem-calc(20);
  }
}
small.error {
	background: $alert-color;
	color: #FFF;
	display: block;
	padding: 5px;
}

// Kevin's Temporary Styles

%reset {
  margin: 0;
  padding: 0;
}

%base_image_styling {
  display: block;
  max-width: 100%;
  height: 100%;

  &.fullscreen {
    width: 100%;
  }
}

figure  {
  @extend %reset;

  img {
    @extend %base_image_styling;
  }
}

.resizeable{
  resize: both;

  img {
    resize: both;
  }
}

.groupOfButtons {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;

  button {
    flex: 30%;
    margin-right: 2%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
