#docs {
	background: rgb(7,60,86);
	margin-bottom: 3rem;

	h1, h2, h3, h4, h5, h6 {
		color: #fff;

		small { color: rgba(255,255,255,0.5); }
	}
}

.docs.container {
	max-width: 1000px;
}

section.docs {
	// border-bottom: 1px solid #eee; padding-top: 1rem;
}

footer {
	background: rgb(7,60,86);
	padding: 1rem 0;

	p { color: rgba(#fff, 0.5); margin: 0; padding: 0; }
	a { color: #fff; }
}

.square {
	width: 100px;
	height: 100px;
	background: $info-color;
	display: block;
	margin-bottom: rem-calc(15); 
}

.button {
	@include button($padding:$button-sml, $radius:true);
}

hr { border-color: #EEE; }

hr.contain {
	width: calc(100% - 2rem);
	margin: 0 auto;
	border-color: #EEE;
	padding-bottom: rem-calc(30);
}

h6 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: rem-calc(14);
	color: lighten(black, 40%);
}

.spinner {
	width: 100px;
	height: 100px;
	border: 20px solid $secondary-color;
	border-top-color: $info-color;
	border-radius: $global-rounded;
}

// small.msg { display: block;}

input[type=text].error { 
	border-color: $alert-color;
}