/*
  BREAKPOINTS
  -----------

  Foundation for Apps has three core breakpoints: small (> 0), medium (>= 640), and large (>= 1024).
  There are two additional breakpoints, xlarge, and xxlarge, which (by default) do not
  output as sizing classes.

  Access named breakpoints using the mixin breakpoint($size), where $size is a breakpoint value.
  You can also pass an em, rem, or pixel value into this mixin to generate an em-based media
  query.

  Create new named breakpoints using the $breakpoints map. Change which named breakpoints get
  their own classes by modifying the $breakpoint-classes map.
*/

$breakpoints: (
  small: rem-calc(0),
  medium: rem-calc(640),
  large: rem-calc(1024),
  xlarge: rem-calc(1440),
  xxlarge: rem-calc(1920),
);

$breakpoint-classes: (small medium large);

/*
  Breakpoint
  Wraps a media query around the content you put inside the mixin. This mixin accepts
  a number of values:
   - If a string is passed, the mixin will look for it in the $breakpoints map, and use
     a media query there.
   - If a pixel value is passed, it will be converted to an em value using $rem-base.
   - If a rem value is passed, the unit will be changed to em.
   - If an em value is passed, the value will be used as-is.

  TODO: don't output a media query if final value is 0
*/
@mixin breakpoint($val: small) {
  // Size or keyword
  $bp: nth($val, 1);
  // Direction of media query (up, down, or only)
  $dir: if(length($val) > 1, nth($val, 2), up);
  // Eventual output
  $str: '';

  // Orientation media queries have a unique syntax
  @if $bp == 'landscape' or $bp == 'portrait' {
    $str: 'orientation: #{$val}';
  }

  @else {
    // Try to pull a named breakpoint out of the $breakpoints map
    @if type-of($bp) == 'string' {
      @if map-has-key($breakpoints, $bp) {
        $bp: map-get($breakpoints, $bp);
      }
      @else {
        $bp: 0;
      }
    }

    // Pixel and unitless values are converted to rems
    @if unit($bp) == 'px' or unit($bp) == '' {
      $bp: rem-calc($bp);
    }
    // Finally, the rem value is turned into an em value
    $bp: strip-unit($bp) * 1em;

    // And lo, a media query was born
    @if $dir == 'only' {
      $max: $bp - (1/16);
      $str: 'min-width: #{$bp}) and (max-width: #{$max}';
    }
    @else if $dir == 'down' {
      $max: $bp - (1/16);
      $str: 'max-width: #{$max}';
    }
    @else {
      $str: 'min-width: #{$bp}';
    }
  }

  // Output
  @media only screen and (#{$str}) {
    @content;
  }
}

/*
  Each Breakpoint
  Prefixes selector $class with breakpoint keywords, allowing you to create a batch of
  breakpoint classes with one chunk of code. If you want to skip a breakpoint (like small,
  because mobile first and all that), add values to the $omit parameter.

  $class - Class to prefix with the breakpoint name and a hyphen.
  $omit - Named breakpoints to skip. No class will be added with breakpoints in this list.
*/
@mixin each-breakpoint($class, $omit: ()) {
  // Iterate through breakpoint classes
  @each $size in $breakpoint-classes {
    // Only do something if the breakpoint is not in $omit
    @if index($omit, $size) == null {
      $val: map-get($breakpoints, $size);
      // Prefix $class with $size and a hyphen
      .#{$size + '-' + $class} {
        @include breakpoint($size) {
          @content;
        }
      }
    }
  }
}

/*
  CSS Output
*/

// Meta styles are included in all builds, as they are a dependancy of the Javascript.
// Used to provide media query values for javascript components.
// Forward slash placed around everything to convince PhantomJS to read the value.

meta.foundation-version {
  font-family: "/1.0.0/";
}

@each $size in map-keys($breakpoints) {
  meta.foundation-mq-#{$size} {
    $val: map-get($breakpoints, $size);
    @if strip-unit($val) == 0 {
      font-family: '/only screen/';
    }
    @else {
      font-family: '/only screen and (min-width: #{$val})/';
    }
    width: $val;
  }
}







/*
  Legacy variables
  Need to convert all references to a newer style eventually
*/

$small-range: (0em, 40em) !default;
$medium-range: (40.063em, 64em) !default;
$large-range: (64.063em, 90em) !default;
$xlarge-range: (90.063em, 120em) !default;
$xxlarge-range: (120.063em, 99999999em) !default;

$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{nth($small-range, 2)})" !default;

$medium-up: "#{$screen} and (min-width:#{nth($medium-range, 1)})" !default;
$medium-only: "#{$screen} and (min-width:#{nth($medium-range, 1)}) and (max-width:#{nth($medium-range, 2)})" !default;

$large-up: "#{$screen} and (min-width:#{nth($large-range, 1)})" !default;
$large-only: "#{$screen} and (min-width:#{nth($large-range, 1)}) and (max-width:#{nth($large-range, 2)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{nth($xlarge-range, 1)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{nth($xlarge-range, 1)}) and (max-width:#{nth($xlarge-range, 2)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{nth($xxlarge-range, 1)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{nth($xxlarge-range, 1)}) and (max-width:#{nth($xxlarge-range, 2)})" !default;
