<p>Small content!</p>
<div>
  <table width="100%">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th width="20%">Read</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Branden</td>
        <td>Sample Subject for Branden</td>
        <td><a ui-sref="mail.email({ id: 1 })" class="button small">Go read</a></td>
      </tr>
      <tr>
        <td>Geoff</td>
        <td>Sample Subject for Geoff</td>
        <td><a ui-sref="mail.email({ id: 1 })" class="button small">Go read</a></td>
      </tr>
      <tr>
        <td>Antonin</td>
        <td>Sample Subject for Antonin</td>
        <td><a ui-sref="mail.email({ id: 1 })" class="button small">Go read</a></td>
      </tr>
    </tbody>
  </table>
</div>
